HOST=127.0.0.1
PORT=8001
DEBUG=True
JWT_SECRET_KEY=django-insecure-42+z^u2(hgg8z#umbnr3x9fe=v5yu9)l)evk+j^9!*aq!puyh7
JWT_ALGORITHM=HS256
DJANGO_URL=http://127.0.0.1:8000
CHATBOT_URL = https://c708-104-196-125-244.ngrok-free.app/generate
CHATBOT_API_KEY = secret123
CLASSIFIER_INTERNAL_API_KEY=change-me
ACTIVE_CLASSIFIER_MODEL_PATH=app/AI_Models/clip_classifier_v2.pth
CLASSIFIER_MODEL_DIR=app/AI_Models/model_versions
CLASSIFIER_MIN_IMAGES_PER_CLASS=15
